<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <controlSources>
      <source mode="on" namespace="Sitecore.Foundation.CustomFields.Fields" assembly="Sitecore.Foundation.CustomFields" prefix="deepend" />
    </controlSources>
    <pipelines>
      <renderContentEditor>
        <processor patch:before="*[1]" type="Sitecore.Foundation.CustomFields.Pipelines.ContentEditorInjectResources, Sitecore.Foundation.CustomFields">
          <styles hint="list:AddStyleResource">
          </styles>
          <scripts hint="list:AddScriptResource">
            <resource>/sitecore/shell/Controls/CustomFieldTypes/autocompleteaddress.js</resource>
          </scripts>
        </processor>
      </renderContentEditor>
    </pipelines>
  </sitecore>
</configuration>
